<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320926489451-8hvrghc2pjl4pmv3oc9aqtj9u3vqt46l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320926489451-8hvrghc2pjl4pmv3oc9aqtj9u3vqt46l</string>
	<key>API_KEY</key>
	<string>AIzaSyA5zKagnUufbGPsbxyAHoh5HCG9jT4BB-s</string>
	<key>GCM_SENDER_ID</key>
	<string>320926489451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newProtofac</string>
	<key>PROJECT_ID</key>
	<string>protofac-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>protofac-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320926489451:ios:bc2dfff96e7f8c23218a2e</string>
</dict>
</plist>